.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #d8c0ab;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footertabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footertab {
  color: white;
  background-color: #d8c0ab;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.footertabselected {
  background-color: #7e563a;
  font-weight: bold;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
